
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper{
    overflow: hidden;
    background: #1bb930;
    display: block;
    position: sticky;
    z-index: 10;
    width:100%;
    margin-top: 0 auto;
    border: rgb(27, 185, 48);
  }
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 85px;
    
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 100px;
    display: flex;
  }
  .content .logo img{
    color: rgb(27, 185, 48);
   
  }
  .content .links li{
    list-style: none;
    line-height: 0px;
  }
  .content .links li a,
  .content .links li label{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 37px;
    border-radius: 100px;
    transition: all 0.3s ease;
    
  }
  .content .links li label{
      display: none;
    
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: white;
    color:rgb(22, 177, 43);
    
  }
  .wrapper .search-icon,
  .wrapper .menu-icon{
    color: white;
    font-size: 22px;
    cursor: pointer;
    line-height: 70px;
    width: 80px;
    text-align: center;
  }
  .wrapper .menu-icon{
    display: none;
  }
  .wrapper #show-search:checked ~ .search-icon i::before{
      content: "\f00d";
    }
  
  .wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    background:rgb(27, 185, 48);
    padding: 0 100px 0 15px;
  }
  .search-box input::placeholder{
    color: white;
  }
  .search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background:rgb(27, 185, 48);
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-weight: 500;
  }
  .wrapper input[type="checkbox"]{
    display: none;
  }
  
  /* Dropdown Menu code  */
  .content .links ul{
    position: absolute;
    background: rgb(27, 185, 48);
    top: 60px;
    z-index: -1;
    opacity: 0;
    visibility: visible;
    font-size: 20px;
    
  }
  .content .links li:hover > ul{
    top: 60px;
    opacity: 1;
    transition: all 0.3s ease;
    
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 20px;
    border-radius: 44px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }
  .body{
     width:100%;
     height:100vh;
     z-index: 97;
  }
  .big-box{
      background-color: black;
      width:100%;
      height:783px;
  }
  
  .side-box{
      margin-left: 50px;
      margin-top: 150px;
      position: inherit;
      margin-right: 50px;
      justify-content: center;
      padding-top: 10px;
      width:90vw;
      height:90vh;
      background-color: white;
  }
  .small-box{
    width: 250px;
    height:470px;
    background-color:rgba(0, 0, 0, 0.2);
    margin:50px;
    position: relative;
  }
  .small-box ul{
   position: absolute;
  }
  .small-box ul li{
    list-style: none;
    padding: 15px 15px 15px 18px;
    list-style: none;
  }
  .small-box ul li a{
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: 600;
    text-transform:capitalize;
    display: flex;
    padding: 20px 110px 20px 20px;
    
    transition: all 0.3s ease;
  }
  .small-box ul li a:hover{
    color:rgba(0,0,0,1);
    font-weight: 800;
  }
  .list img{
    width: 25px;
    height: auto;
    margin-right: 15px;
    opacity: 0.7;
  }
  .page4{
    background-color: rgb(252, 250, 253);
  }
  .info{
    margin-top: 100px;
    color:cornsilk;
    display: flex;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    Z-index:1000;
    display:flex;
    justify-content: space-between;
    align-items: baseline;    
  }
  .name{
    font-size:22px;
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .inline{
    font-size:18px;
    font-weight:200;
    display: flex;
  }
  .butt {
    margin-top: 25px;
    align-items: center;
    justify-content: end;
    border: 0.5px solid white;
    padding:10px;
    position:relative;
   cursor:pointer;
   display:block;
   z-index: 90;
  }
  .butt h2 .butt:after, .butt:before{
    margin-top:25px;
  }
  .butt.active {
    opacity:0%;
  }

  .butt:hover{
    background-color: white;
    color: black;
  }
  
   
.form{
  position:absolute;
  right:0;
  left: 100%;
  height: 788px;
  top:0;
  overflow: hidden;
  z-index: 10000; 
  display: block;
  background-color:white;
  transition: 1s;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
}/*
.overlay{
  position:fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  visibility: hidden;
  opacity: 0;
  transition: opacity(1s);
}
.overlay.active{
  visibility: visible;
  opacity: 1;
}*/
.big-box{
  z-index:98;
}
 /*
.close{
  background-color:black;
  mix-blend-mode: overlay;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}*/
.close i{
  cursor:pointer;
  float:left;
  color:black;
  visibility: visible;
  padding-right: 40px;
  
}
.form a {
  top:0;
  left:0;
}
.lab{
  display: block;
  margin:75px 20px 55px 30px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 17px;
  position: absolute;
}
.lab label{
  display: block;
  margin-top: 25px;
}
.form-up{
  margin-bottom: 25px;
  padding: 15px;
  position: absolute;
  display: flex;
  text-transform: uppercase;
  
}
.form-up h2{
   font-size:1.2em;
   display: block;
}
 
.f1, .f2, .f3{
  margin-top: 10px;
  display: flex;
  width: 280px;
  border-bottom:2px solid black;
  padding-bottom: 10px;
}
 .lab input{
  border:0em;
  box-decoration-break: none;
  
}
.lab input:focus{
  outline:none;
}
.s1, .s2, .s3{
  cursor: pointer;
  border:0em;
  background-color: white;
  color: green;
  font-size: 13px;
  margin-left: 50px;
}
.f1 input, .f2 input, .f3 input{
  padding-right: 5px;
}
button:hover{
  color: orangered;
}
